<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Data/form.css">
    <link rel="icon" href="../Data/Untitled (1).png">
    <title>Document</title>
</head>
<body>
    <section class="products" id="products">

        <h1 class="heading"> latest <span>products</span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <span class="discount">-10%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0017.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0018.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0019.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0020.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-17%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0021.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-3%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0022.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0023.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0024.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="../Data/IMG-20240506-WA0025.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    </section>



    
</body>
</html>
