<!DOCTYPE html>
<html>
<link rel="icon" href="../Data/Untitled (1).png">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1 class="display-4">Contact Us</h1>
        </div>
        <section class="container">
            <form method="post" action="../Controllers/ContactUs.php">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            <div class="info mt-5">
                <h2>Contact Information</h2>
                <p>Feel free to contact us for any questions or inquiries, Have Fun ;)</p>
                <ul class="list-unstyled">
                    <li>123 Helwan, Cairo, Egypt</li>
                    <li>012-345-678-90</li>
                    <li>HelwanMuseum@gmail.com</li>
                </ul>
            </div>
        </section>
    </div>
</body>

</html>
