<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../Data/Untitled (1).png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum Map</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }

        img {
            width: 40%;
            margin-left: 310px;
            margin-top: 50px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="map-container">
            <img src="../Data/mfa_map_level1_september2018.jpg" alt="Museum Map">
        </div>
    </div>
</body>

</html>
