<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Data/book.css">
    <title>Document</title>
    <link rel="icon" href="../Data/Untitled (1).png">
</head>
<body>
    <section class="products" id="products">

        <h1 class="heading"> latest <span>products</span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <span class="discount">-10%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.vT_mcSWq-9Y9maIWI9ZrTQHaKX?w=202&h=282&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.4SL2sufnPQjexf0kisGFFwDCEs?w=201&h=310&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.vT_mcSWq-9Y9maIWI9ZrTQHaKX?w=202&h=282&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.4SL2sufnPQjexf0kisGFFwDCEs?w=201&h=310&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    
            <div class="box">
                <span class="discount">-17%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.kFqlHGqFEahnXzXLpk6bSwHaLL?w=202&h=305&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-3%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.kFqlHGqFEahnXzXLpk6bSwHaLL?w=202&h=305&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.kFqlHGqFEahnXzXLpk6bSwHaLL?w=202&h=305&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.r6T5qDSPDohIIOm1ee6_vgHaL6?rs=1&pid=ImgDetMain" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.4SL2sufnPQjexf0kisGFFwDCEs?w=201&h=310&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="Order.html" class="cart-btn">Make an Order</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Coffee</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>
    </section>



    
</body>
    
</body>
</html>
