* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #ed8e09 10%, #d06004 100%);
    flex-wrap: wrap;
    justify-content: space-between;
}

body::before,
body::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

body::before {
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #ffffff 10%, #fff 100%);
}

body::after {
    clip-path: circle(20% at right 80%);
    background: linear-gradient(135deg, #f5aa42 10%, #f2a726 100%);
}

header {
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: auto;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 12;
}

img {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
}

header .navbar {
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

header .navbar .logo a {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

header .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 6px;
}

.navbar .menu a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .menu a:hover {
    color: #f2f2f2;
}

.navbar .button input {
    outline: none;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 500;
    margin: 0 8px;
    padding: 6px 12px;
    background: linear-gradient(135deg, #f07705 10%, #ecac2b 100%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #f07705 10%, #ecac2b 100%);
}

.text-content {
    width: 40%;
    margin: 100px 0 0 50px;
}

.text-content h2 {
    font-size: 27px;
    font-weight: 600;
}

@media (max-width: 850px) {
    header .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu {
        margin: 10px 0 20px 0;
    }

    .text-content {
        width: 70%;
        margin: 30px 0 0 20px;
    }
}

.card-body {
    justify-content: space-between;
    background: #f5aa42;
}